<!--<div style="margin: 11px">-->
<!--  <SearchBar-->
<!--    [(ngModel)]="value"-->
<!--    [placeholder]="'Search'"-->
<!--    [showCancelButton]="true"-->
<!--    [cancelText]="'Cancel'"-->
<!--    (onBlur)="blur()"-->
<!--    (onFocus)="focus()"-->
<!--    (onCancel)="cancel()"-->
<!--    (onClear)="clear(value)"-->
<!--    (onSubmit)="submit(value)"-->
<!--    (onChange)="change($event)"-->
<!--  ></SearchBar>-->
<!--</div>-->
<div style="margin: 5px 20px 5px 10px;">
  <InputItem [clear]="true" [placeholder]="''" [content]="'Find'"></InputItem>
</div>

<List [className]="'my-list'" [renderHeader]="renderHeader2">
  <ListItem *ngFor="let i of [].constructor(250)"

            [extra]="'10:30'"
            [align]="'top'"
            [thumb]="'https://zos.alipayobjects.com/rmsportal/dNuvNrtqUztHCwM.png'"
            multipleLine
  >
    Title
    <Brief>subtitle</Brief>
  </ListItem>
</List>

