<WingBlank [size]="'sm'">
  <WhiteSpace [size]="'sm'"></WhiteSpace>
  <InputItem [clear]="true" [placeholder]="''" [content]="'Find'" (onChange)="change($event)"
             xmlns="http://www.w3.org/1999/html"></InputItem>
<!--      <SearchBar-->
<!--        [(ngModel)]="value"-->
<!--        [placeholder]="'Search'"-->
<!--        [showCancelButton]="true"-->
<!--        [cancelText]="'Cancel'"-->
<!--        (onBlur)="blur()"-->
<!--        (onFocus)="focus()"-->
<!--        (onCancel)="cancel()"-->
<!--        (onClear)="clear(value)"-->
<!--        (onSubmit)="submit(value)"-->
<!--        (onChange)="change($event)"-->
<!--      ></SearchBar>-->
  <WhiteSpace [size]="'sm'"></WhiteSpace>
  <SegmentedControl [values]="['All', 'Groom', 'Bride', 'Participated']" (onChange)="choose($event)"></SegmentedControl>
</WingBlank>

<WhiteSpace [size]="'sm'"></WhiteSpace>
<List [className]="'my-list'" [renderHeader]="''">
  <ListItem *ngFor="let participant of filteredParticipants"
            [extra]="listExtra"
            [arrow]="'horizontal'"
            multipleLine
            wrap
            (onClick)="!participant.isParticipated ? showActionSheet(participant): 0;"
  >
    <ng-template #listExtra>
      <span style="color: black;font-size: medium; border: red solid; padding: 2px; ">
        <b>{{participant.table}}</b>
      </span>
    </ng-template>
    <b>{{participant.name}} ({{participant.key}})</b>
    <Brief>
      <b>From {{participant.isGroom ? 'Groom' : "Bride"}}</b>
      <br/>
      {{participant.mobile}}
      <br/>
      {{participant.idNumber}}
    </Brief>

  </ListItem>
</List>

